# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
.svn
Apps

# DNX project file with a complete list of resolved dependencies
project.lock.json

# User-specific files
*.suo
*.user
*.sln.docstates

# Visual Studio 2015 cache/options directory
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet Packages Directory
packages/
*.nupkg