# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in/
[Oo]bj/
.svn
Apps

# DNX project file with a complete list of resolved dependencies
project.lock.json

# User-specific files
*.suo
*.user
*.sln.docstates

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet Packages Directory
packages/
*.nupkg