		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="http://open.smeshlink.com" class="brand">SmeshLink Open Lab</a>
					<div class="nav-collapse collapse">
{% if page.zh %} {% include nav-zh.html %} {% else %} {% include nav.html %} {% endif %}
					</div>
				</div>
			</div>
		</div>
{% if page.home %}{% else %}
		<header class="jumbotron subhead" id="overview">
			<div class="container">
				<h1>{{ page.title }}</h1>
				<p class="lead">{{ page.excerpt }}</p>
			</div>
		</header>{% endif %}
