body {
	padding-top: 40px;
	position: relative;
}
body > .navbar .brand {
	padding: 10px 0;
	margin-left: 20px;
	float: right;
	font-weight: bold;
	color: #000;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
			transition: all .2s linear;
}
body > .navbar .brand:hover {
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}
.navbar-inner {
	min-height: 40px;
}
.navbar .nav > li > a {
	padding: 10px 15px;
}
.navbar .btn-navbar {
	margin-top: 5px;
	padding-top: 7px;
}
.btn {
	cursor: pointer;
}
#ft {
	text-align: center;
	background-color: #F5F5F5;
	border-top: 1px solid #E5E5E5;
	padding: 30px 0;
}

.jumbotron {
	position: relative;
	padding: 40px 0;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
	background: #020031; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
	background: linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	   -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
			box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
	font-size: 80px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
}
.jumbotron p {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.25;
	margin-bottom: 30px;
}
.jumbotron a {
	color: #fff;
	color: rgba(255,255,255,.5);
	-webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;
}
.jumbotron a:hover {
	color: #fff;
	text-shadow: 0 0 10px rgba(255,255,255,.25);
}

.masthead .btn {
	padding: 19px 24px;
	font-size: 24px;
	font-weight: 200;
	color: #fff; /* redeclare to override the `.jumbotron a` */
	border: 0;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
			border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
	   -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
			box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
	-webkit-transition: none;
	   -moz-transition: none;
			transition: none;
}
.masthead .btn:hover {
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
	   -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
			box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.masthead .btn:active {
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
	   -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
			box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}

/* Home */
.masthead {
	padding: 70px 0 80px;
	margin-bottom: 0;
	color: #fff;
}
.masthead h1 {
	font-size: 120px;
	line-height: 1;
	letter-spacing: -2px;
}
.masthead p {
	font-size: 40px;
	font-weight: 200;
	line-height: 1.25;
}

/* Subhead */
.subhead {
	text-align: left;
	border-bottom: 1px solid #ddd;
	margin-bottom: 2em;
}
.subhead h1 {
	font-size: 60px;
}
.subhead p {
	margin-bottom: 20px;
}
.subhead .navbar {
	display: none;
}

.page-header {
	padding-top: 40px;
}
.sidenav {
	margin-top: 60px;
}

@media (max-width: 980px) {
	body > .navbar-fixed-top .brand {
		float: left;
		margin-left: 0;
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (max-width: 979px) {
	body {
		padding-top: 0;
	}
	.jumbotron {
		margin-top: -20px;
	}
}
@media (max-width: 767px) {
	.jumbotron {
		margin-right: -20px;
		margin-left: -20px;
		padding: 40px 20px;
	}
	.masthead h1 {
		font-size: 90px;
	}
	.masthead p,
	.masthead .btn {
		font-size: 24px;
	}
	#social {
		margin-right: -20px;
		margin-left: -20px;
	}
	#ft {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media (max-width: 480px) {
	.jumbotron h1 {
		font-size: 45px;
	}
	.jumbotron p,
	.jumbotron .btn {
		font-size: 18px;
	}
	.jumbotron .btn {
		display: block;
		margin: 0 auto;
	}
	.subhead h1,
	.subhead p {
		text-align: center;
	}
	#ft {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}